section
  header
    h1
      a#home-news-headline(href='/#/station_news') Radio DePaul News
  .content
    ul
      li(ng-repeat='item in news')
        header.headline
          h2
            a(href='#/station_news/{{item.id}}') {{item.headline}}
          date {{item.published_at}}
        .content(ng-bind='item.snippet')
        a.read-more-button.highlight-color(href='#/station_news/{{item.id}}') Read more ..
section#events
  header
    h1 Coming Up
  .content
    ul.segmented
      li(ng-repeat='event in events')
        h2 {{event.title}}
        p {{event.first_line}} - {{event.second_line}}
        p {{event.location}}
        p {{event.description}}
section
  header
    h1 Recent Posts
  .content(disqus='page')
#sponsors
  br
  h2 Sponsors of Radio DePaul
  a(href='http://www.costellosandwich.com/')
    #costello
  a(href='http://www.redmangousa.com/')
    #redmango
  a(href='#/about/join_radio_depaul')
    #sponsor-link
