img#home_image(src = '/img/station.jpg')
#left
  section#news-section
    header
      h1
        a#home-news-headline(href='/#/station_news') Latest <em>News</em>
    .content
      ul
        li.news-item(ng-repeat='item in news')
          img()
          header.headline
            h2
              a(href='#/station_news/{{item.id}}') {{item.headline}}
          date {{item.publication_date}}
          .content(ng-bind='item.snippet')
  section#disqus-section
    header
      h1 Recent 
        em Posts
    .content(disqus='page')

#right
  section#events
    header
      h1 Coming 
        em Up
    .content
      ul
        li(ng-repeat='event in events')
          .event-date(ng-class="{nodate: event.date==null}") 
            .event-day {{event.day}}
            .event-month {{event.month}}
            .event-year {{event.year}}
            span(ng-show="!event.date") !
          .contents
            h3 {{event.title}}
            p {{event.location}}
            p {{event.description}}
  section
    header
      h1 Our 
        em Sponsors
    .sponsor(ng-repeat="sponsor in sponsors", ng-class="{last: $last && $even}")
      a(href='{{sponsor.url}}')
        img(ng-src="{{sponsor.image}}", alt="{{sponsor.name}}", width="300")
