#player(ng-controller = 'OnAirController', ng-cloak)
  #now_playing
    img#player-show-image(ng-src = '{{slot.show.avatar_thumb}}')
    #onair-text
      #onair-title
          a(href = '/#/shows/{{slot.show.id}}') {{slot.show.title}}
      #onair-hosts 
          span(ng-repeat = 'host in slot.show.hosts')
            a(href = '/#/person/{{host.id}}') {{host.name}}
      #onair-genres {{slot.show.genres}}


  div(ng-controller = 'MusicController')
    #play-pause(ng-click="catchPlay()", ng-class="{playing: playing===true}") xxxxx
    || {{playing}}
    #play-pause-buttons
      a#play-button(ng-click = 'playMusic()', ng-hide = "playing") 
      a#pause-button(ng-click = 'pauseMusic()', ng-show = "playing", ng-cloak = true) 
    #volume-control
      i.fa.fa-volume-up.fa-lg
      #volume-bar
        #volume-position
 
    #button-holder
      a(data-hint="Pop-Up Player", onClick = "window.open('../popupplayer.html','toolbar=no, menubar=no, location=no, status=no, titlebar=no','width=390,height=100');")
        i.fa.fa-music.fa-2x
      a(href = "/#/webcam", data-hint='Watch Webcam')
        i.fa.fa-video-camera.fa-2x
      a(href = "http://rock.radio.depaul.edu:8000/listen.pls?sid=1", data-hint="Download Audio Stream")
        i.fa.fa-cloud-download.fa-2x
  #chatroom-holder(ng-controller = 'ChatController')
    section#chatroom.ng-cloak(ng-show = "showChat")
      header(ng-click = "toggleChat()" )
        h1 Chat With Us Live!
        img#minimize-icon(src = "img/minimize.png")
      iframe(width = 250, height = 300, ng-src = "{{trustSrc(chatURL)}}")

      #webcam-streamfile-box
      #chat-player-box(ng-cloak)
        a#chat-button.button.button-rounded.button-flat-primary.button-tiny(ng-click = "toggleChat()") Chat with our DJs