section#staff.shows-section
  header
    h1 Radio DePaul Staff
    input.search(ng-model='staffSearchText', ng-change='filter()')
    image.search-icon-staff(src='/img/search.png')
  ul
      li.staff-list(ng-repeat='person in filteredItems = (staff | filter:staffSearchFilter) | startFrom:currentPage*pageSize |  limitTo:pageSize')
        a.big(href='/#/people/{{person.id}}')
          .smallBar
            img(ng-src='{{person.avatar_thumb}}', width='50', height='50')
            span.staff-name-list
              span {{person.name}}
              span(ng-show='person.shows')  of {{person.shows}}
  pagination(page-size='10', count='filteredItems.length')