@import "all"

@media only screen and (max-width: 1200px)
  #sports-ball
    left: 90%
    height: 65px
    width: 65px
  #webcam-streamfile-box
    right: 12%

@media only screen and (max-width: 900px)
  #chat-player-box
    display: none
  #webcam-streamfile-box
    position: relative
    right: 10px
  #play-button
    bottom: 10px
    left: 50%
  #pause-button
    bottom: 10px
    left: 50%
  #sports-ball
    left: 90%
    height: 45px
    width: 45px


@media only screen and (max-width: 800px)
  #logo
    position: static
    display: block
    left: initial
    margin-left: auto
    margin-right: auto
  #left-side-nav-holder, #right-side-nav-holder
    position: static
    width: 50%
    float: left
  #right-side-nav
    position: static
    float: left
    width: initial
    margin-left: 0
  #sports-ball
    left: 85%
    height: 85px
    width: 85px

@media only screen and (max-width: 650px)
  article
    width: 100%

  #left-side-nav-holder, #right-side-nav-holder
    float: none
    height: 40px
    width: 100%
    text-align: center
    margin-bottom: 10px

  #left-side-nav, #right-side-nav
    float: none
    display: inline-block
    margin-top: 10px
  #social-icons
    display: none
  #sports-ball
    left: 70%

@media only screen and (max-width: 479px)
  .headline date
    position: static
    display: block
    //display: none
  
  footer
    height: 100px

  #player_fixed
    height: 90px
    background-color: rgba($dkgray, 1)

  #chat-player-box
    display: none
  #streamfile-button
    display: none
  #showtitle
    z-index: 0


  #play-button
    bottom: 49px
    left: 85%
    z-index: 100
  #pause-button
    bottom: 49px
    left: 85%
    z-index: 100
  #play-icon
    position: relative
    bottom: 35px
  #stop-icon
    position: relative
    bottom: 35px
  #webcam-button
    width: 80px
    position: relative
    top: 34px
    right: 70px
