!!!5
html(lang="en", ng-app="radio")

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title Radio DePaul
    meta(name='description', content='')
    meta(name='author', content='')

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name='viewport', content='width=device-width,user-scalable=no')

    //- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
    link(rel = "shortcut icon", type = "image/x-icon", href = "/favicon.ico")
    link(rel="apple-touch-icon-precomposed", href="/img/icon.png")  
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/img/icon.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/img/icon.png")  

    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}

    link(rel="stylesheet", id="font-css", href="http://fonts.googleapis.com/css?family=Lato%3A400%2C700%2C900%2C300&amp;#038;ver=3.6.1", type="text/css", media="all")

    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/fontello.css')

    <!--[if lte IE 8]>
    script(src='http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js')
    <![endif]-->


    script.
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = { enabled: true };

  body
    include includes/_header
    .container
      article(ng-view = true)
    footer
      include includes/_footer
    ng-include(src="'partials/player.html'", class="playerani")


    //- JavaScript at the bottom for fast page loading
    script(src='/js/vendor.js')
    script(src='/js/app.js')

 //   script(src="http://jwpsrv.com/library/GgcroA5wEeOwaBIxOUCPzg.js")

//    script (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=419461828142439";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));

//    script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-43005332-1', 'depaul.edu');ga('send', 'pageview');
