!!! 5
html
  head
    meta(charset='utf-8')
    link(href='http://fonts.googleapis.com/css?family=Cabin', rel='stylesheet', type='text/css')
    style.
      body{background-image:url(../img/cream_pixels.png);font-family:'Cabin',sans-serif}div.jp-audio,div.jp-video{font-size:1.25em}#player-container{position:relative;bottom:20px}#popupcantainer{position:relative;bottom:15px}
  body
    #popupcantainer
      h3 Radio DePaul Stream
      #player-container
        script(src='http://player.wavepanel.net/embed/basic/64c829446c484becd92959d9b08a8fab7c2f9c67')
