#footer-links-holder
  a(href ='http://www.depaul.edu/Pages/copyright.aspx') © 2001-2013 |
  a(href = 'http://depaul.edu/') DePaul University |
  a(href = 'http://www.depaul.edu/Pages/disclaimer.aspx') Disclaimer |
  a(href = 'http://www.depaul.edu/Pages/contact-us.aspx') Contact DePaul University |
  a(href = 'http://emergencyplan.depaul.edu/Pages/default.aspx') Emergency Plan |
  a(href = 'http://dab.depaul.edu/') DePaul Activities Board (DAB) |
  a(href = 'http://www.depauliaonline.com/') The DePaulia |
  a(href = 'http://communication.depaul.edu/Student Work/Good Day DePaul/') Good Day DePaul