#footer-links-holder
  a(href ='http://www.depaul.edu/Pages/copyright.aspx') © 2001-2013 |
  a(href = 'http://depaul.edu/') &nbsp;DePaul University |
  a(href = 'http://www.depaul.edu/Pages/disclaimer.aspx') &nbsp;Disclaimer |
  a(href = 'http://www.depaul.edu/Pages/contact-us.aspx') &nbsp;Contact DePaul University |
  a(href = 'http://emergencyplan.depaul.edu/Pages/default.aspx') &nbsp;Emergency Plan |
  a(href = 'http://sga.depaul.edu/') &nbsp;Student Government Association |
  a(href = 'http://dab.depaul.edu/') &nbsp;DePaul Activities Board |
  a(href = 'http://www.depauliaonline.com/') &nbsp;The DePaulia |
  a(href = 'http://communication.depaul.edu/Student Work/Good Day DePaul/') &nbsp;Good Day DePaul