footer.container(ng-controller="FooterController")
  section.column
    h2 DePaul 
      em Links
    ul
      li
        a(href = 'http://depaul.edu/') DePaul University
      li
        a(href = 'http://www.depaul.edu/Pages/contact-us.aspx') Contact DePaul University
      li
        a(href = 'http://emergencyplan.depaul.edu/Pages/default.aspx') Emergency Plan
      li
        a(href = 'http://sga.depaul.edu/') Student Government Association
      li
        a(href = 'http://dab.depaul.edu/') DePaul Activities Board
      li
        a(href = 'http://www.depauliaonline.com/') The DePaulia
      li
        a(href = 'http://communication.depaul.edu/Student Work/Good Day DePaul/') Good Day DePaul
      li
        a(href = 'http://www.depaul.edu/Pages/disclaimer.aspx') Disclaimer
      li
        a(href ='http://www.depaul.edu/Pages/copyright.aspx') © 2001-2013

  section#twitter-feed.column()
    h2 Twitter 
      em Feed
    a(twitter = "twitter", height = "300", data-chrome="noheader transparent")

  section#facebook-posts.column
    h2 Facebook 
      em Posts
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FRadioDepaul&amp;width=400&amp;height=300&amp;colorscheme=dark&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=419461828142439"  frameborder="0" style="border:none; height:300px; width: 100%" allowTransparency="true"></iframe>