ul#nav-links
  li
    a(href= '/#', ng-class = 'navClass("home")') Home
  li
    a(href= '/#/schedule/', ng-class = 'navClass("schedule")', ng-click="showMenu=false") Schedule
  li
    a(href= '/#/shows/',  ng-class = 'navClass("shows")', ng-click="showMenu=false") Shows
  li
    a(href= '/#/people/', ng-class = 'navClass("people")', ng-click="showMenu=false") Staff
  li
    a(href= '/#/media/', ng-class = 'navClass("media")', ng-click="showMenu=false") Media
  li
    a(href= '/#/about/', ng-class = 'navClass("about")', ng-click="showMenu=false") About
  li
    a(href= 'http://radiodepaul.herokuapp.com/application') Apply
  li
    a#launchPlayer(ng-click = 'playMusic()', ng-class = '(active= playing)') Listen Now
