#now_playing_light
  p On Air
#now_playing(ng-controller = 'OnAirController')
  #image-title-container
    img.player-show-image(ng-src = '{{show.photo_thumb}}')
    #on-air-show-text
      #showtitle
        h2
          a(href = '/#/shows/{{show.id}}') {{show.title}}
        h3
          span#host-text Host(s) 
          span#on-air-host-list(ng-repeat = 'host in show.hosts')
            a#playing-host-names( href = '/#/person/{{host.id}}')
              {{host.name}}
        span#playing-genres {{show.genres}}

  #play-pause-buttons
    a#play-button.button.button-circle.button-primary(ng-click = 'playMusic()', ng-hide = "playing") 
      span#play-icon &#9658;
    a#pause-button.button.button-circle.button-caution(ng-click = 'pauseMusic()', ng-show = "playing", ng-cloak = true)
      span#stop-icon I I

#chatroom-holder(ng-controller = 'ChatController')
  section#chatroom(ng-show = "showChat")
    header(ng-click = "toggleChat()" )
      h1 Chat With Us Live!
      img#minimize-icon(src = "img/minimize.png")
    iframe(width = 250, height = 300, ng-src = "{{trustSrc(chatURL)}}")
  #button-holder
    #webcam-streamfile-box
      a#webcam-button.button.button-rounded.button-flat-primary.button-tiny(href = "/#/webcam") Watch the Webcam
      a#streamfile-button.button.button-rounded.button-flat-primary.button-tiny(href = "http//rock.radio.depaul.edu8000/listen.pls?sid=1") Download the Streamfile
    #chat-player-box(ng-cloak)
      a#chat-button.button.button-rounded.button-flat-primary.button-tiny(ng-click = "toggleChat()") Chat with our DJs
      a#player-button.button.button-rounded.button-flat-primary.button-tiny(onClick = "window.open('../popupplayer.html','toolbar=no, menubar=no, location=no, status=no, titlebar=no','width=390,height=100');") Pop-up Player
