section(twitter = "twitter", height = "300")

section#fb-likes
  #fb-root
    .fb-like-box(ata-href = "https://www.facebook.com/RadioDepaul", data-width = "250", data-show-faces = "true", data-header = "true", data-stream = "true", data-show-border = "false")